<div id="user_forms">
	<p>Sign up for no reason!</p>
	<form id="signup" action='/signup' method='post'>
		<input type="email" placeholder="Email" name="email">
		<input type="password" placeholder="Password" name="password">
		<input type="submit" value="Submit!">
	</form>	

	<p>Log in for no reason!</p>
	<form id="login" action='/login' method='post'>
		<input type="email" placeholder="Email" name="email">
		<input type="password" placeholder="Password" name="password">
		<input type="submit" value="Log In!">
	</form>
</div>